* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "jakarta";
    src: url("./fonts/PlusJakartaSans-VariableFont_wght.ttf")format("truetype");
}
@font-face {
    font-family: "dancing";
    src: url("./fonts/DancingScript-VariableFont_wght.ttf")format("truetype");
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "jakarta";
    background-color: #1c2839;
    overflow-x: hidden;
}

/*--header-hero Section--*/
.header-hero-section {
    background-image: url("./images/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_logo {
    max-width: 10rem;
}
.navigation_logo img {
    width: 100%;
}
nav {
    width: 70%;
    display: flex;
    align-items: center;
}
.navigation_items {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.navigation_items a {
    text-decoration: none;
    color: wheat;
}
.navigation_items button {
    background-color: #f74780;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid darkblue;
    border-radius: 0.5rem;
    transition: all 1s;
}
.navigation_items button:hover {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;

}
.hero {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 6rem 0 5rem 2rem;
}
.hero_headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    width: 65%;
    color: white;
    translate: 50%;
    opacity: 0;
    transition: 2s ease-in-out;
    
}
.hero_headings.show {
    translate: 0;
    opacity: 1;
}
.hero_headings  h1{
    font-size: 4rem;
    padding-right: 10rem;
    color: #FFFFFF;
}
.hero_headings h3 {
    padding-right: 22rem;
    color: wheat;
}
.hero_headings p {
    padding-right: 22rem;
    color: wheat;
}

.hero_headings_btn {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero_headings_btn button {
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 0.5px solid white;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}
.hero_headings_btn button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color:#f74780;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all 0.5s;
}
.hero_headings_btn button:hover {
    border: 0.5px solid black;
    color: black;
    cursor: pointer;
}
.hero_headings_btn button:hover::before {
    transform: rotate(0deg);
}
.hero_headings_btn_free-trial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.hero_headings_btn_free-trial img {
    width: 1rem;
}

/*--Sliding clients Section--*/
.clients {
    padding: 0 1rem;
    text-align: center;
    background-color: #1c2839;
    color: wheat;
}
.clients_scroller {
    max-width: 100vw;
    padding: 1rem 0;
}
.clients_scroller_inner {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    flex-wrap: wrap;
}
.clients_scroller_inner img {
    width: 10rem;
    background-color: lightslategray;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
}

.clients_scroller[data-animated="true"] {
    border-top: 0.25rem solid lime;;
    border-bottom: 0.25rem solid lime;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
    mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
}
.clients_scroller[data-animated="true"] .clients_scroller_inner {
    width: max-content;
    animation: scroll 30s linear infinite;
    flex-wrap: nowrap;
}
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/*--Features Section*/
.features {
    background-color: #1b263b;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 1rem 2rem;
}
.features h1 {
    color: wheat;
}
.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.upper_feature {
    max-width: 25rem;
    background-color: #1d1160;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    text-align: left;
    transition: transform 500ms,background-color 500ms;
    translate: -100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.upper_feature:hover {
    transform: scale(1.05);
    background-color: #023e8a;
}

.upper_feature.show {
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
        filter: blur(0);
        opacity: 1;
        translate: 0;
    }
}
.upper_feature:nth-child(1).show {
    animation-delay: 0ms;
}

.upper_feature:nth-child(2).show {
    animation-delay: 500ms;
}

.upper_feature:nth-child(3).show {
    animation-delay: 1s;
}
.upper_feature h2 {
    color: wheat;
}
.upper_feature p {
    color: white;
}
.upper_feature img {
    width: 10rem;
}
.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.lower_feature {
    max-width: 25rem;
    background-color: #1d1160;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    text-align: left;
    transition: transform 500ms,background-color 500ms;
    translate: -100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.lower_feature:hover {
    transform: scale(1.05);
    background-color: #023e8a;
}
.lower_feature.show {
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
        filter: blur(0);
        opacity: 1;
        translate: 0;
    }
}
.lower_feature:nth-child(1).show {
    animation-delay: 0ms;
}

.lower_feature:nth-child(2).show {
    animation-delay: 500ms;
}
.lower_feature img {
    width: 10rem;
}
.lower_feature h2 {
    color: wheat;
}
.lower_feature p {
    color: white;
}
.lower_feature_read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

/*Solutions section*/
    .solutions {
    padding: 2rem ;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.solutions_wrapper {
    display: inline-flex;
}
.solutions_wrapper_static-txt {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.solutions_wrapper_dynamic-txt {
    margin-left: 1rem;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}
.solutions_wrapper_dynamic-txt li {
    list-style: none;
    font-size: 3rem;
    font-weight: bold;
    color: #FC6D6D;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide {
    100% {
        top: -240px;
    }
}
.solutions_wrapper_dynamic-txt li span {
    position: relative;
}
.solutions_wrapper_dynamic-txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: steelblue;
    border-left: 2px solid #FC6D6D;
    animation: typing 2s steps(20) infinite;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.solutions_wrapper_dynamic-txt li:nth-child(1) span::after {
  animation-delay: 0s;
}
.solutions_wrapper_dynamic-txt li:nth-child(2) span::after {
  animation-delay: 2s;
}
.solutions_wrapper_dynamic-txt li:nth-child(3) span::after {
  animation-delay: 4s;
}
.solutions_wrapper_dynamic-txt li:nth-child(4) span::after {
  animation-delay: 6s;
}
.solutions_upper {
    background-color: #d8e5e5;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.solutions_upper_video{
    width: 50%;
    height: 100%;
}
.solutions_upper_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.solutions_upper_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.logo-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 2rem;
}
.logo-pic {
    transition: transform 0.3s ease;
}
.logo-description:hover .logo-pic {
    animation: rubberBand 0.9s ease;
}
@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.logo-description img {
    width: 5rem;
}
.logo_description_solution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.logo_description_solution h3 {
    font-size: 2rem;
}
.logo_description_solution p {
    font-weight: bold;
}
.border {
    border: 1px solid lightslategray;
    width: 100%;
}
.solutions_below {
    background-color: #d8e5e5;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.solutions_below_img {
    width: 50%;
    height: 100%;
}
.solutions_below_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.solutions_below_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

/*Counter section*/
.counters {
    padding: 2rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #1d1160;
}
.counters_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 2rem;
} 
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
.counter_border {
    border: 1px solid lightblue;
    height: 100%;
}
.num {
    font-size: 3rem;
    font-weight: bold;
    color: lightskyblue;
}
.text {
    font-size: 2rem;
    font-weight: bold;
    color: wheat;
}

/*choose us section*/
.choosing {
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/planning.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4rem;
}
.pinned_container_first {
    background-color: gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    transform: rotate(15deg);
    transform-origin: top;
    border-radius: 1rem;
    margin: 5rem 30rem -20rem 0;
    transition: transform 500ms;
    translate: -100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.pinned_container_first.show {
    animation: sliding-in 1s ease-in-out forwards;
}
@keyframes sliding-in {
    to {
        translate: 0;
        opacity: 1;
        filter: blur(0);
    }
}
.bullet-pin {
    width: 4rem;
}
.pinned_container_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 1rem;
}
.pinned_container_description_img {
    width: 4rem;
}
.pinned_container_second {
    background-color: gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    transform: rotate(-15deg);
    transform-origin: top;
    border-radius: 1rem;
    margin: 0 0 1rem 30rem;
    transition: transform 500ms;
    translate: 100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.pinned_container_second.show {
    animation: sliding-in 1s ease-in-out forwards;
}
.pinned_container_third {
    background-color: gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    transform: rotate(15deg);
    transform-origin: top;
    border-radius: 1rem;
    margin: 0 30rem -23rem 0;
    transition: transform 500ms;
    translate: -100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.pinned_container_third.show {
    animation: sliding-in 1s ease-in-out forwards;
}
.pinned_container_fourth {
    background-color: gray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    transform: rotate(-15deg);
    transform-origin: top;
    border-radius: 1rem;
    margin: 0 0 0 25rem;
    transition: transform 500ms;
    translate: 100%;
    opacity: 0;
    filter: blur(0.5rem);
}
.pinned_container_fourth.show {
    animation: sliding-in 1s ease-in-out forwards;
}

/*--video section*/
.video_team {
    width: 100vw;
    padding: 2rem;
    border-radius: 3rem;
}
.video_team_meeting {
    width: 100%;
}
.video_team_meeting video {
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
}


/*--About us section--*/
.about {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 3rem;
}
.about_us {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.about_us_description{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 2rem;
}
.about_us h1 {
    font-family: "dancing";
    font-size: 4rem;
}
.about_us_pic {
    width: 50%;
    height: 100%;
    
}
.word_we {
    font-size: 4.5rem;
    float: left;
    line-height: 5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.about_us_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.about_us_btn button {
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: wheat;
    font-weight: bold;
    font-size: 1rem;
    border: 0.5px solid white;
    transition: all 1s;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.about_us_btn button::before {
    content: "";
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
    top: 0;
    background-color:#f74780;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all 0.5s;
}
.about_us_btn button:hover {
    cursor: pointer;
}
.about_us_btn button:hover::before {
    transform: rotate(0deg);
}
.about_us_btn a {
    text-decoration: none;
    color: black;
}


/*Team Section*/
.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: black;
    box-shadow: 0px 2rem 3rem black;
}
.img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card:hover img {
    opacity: 0;
}
.content {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 80px;
    background-color: #1b263b;
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}
.content h3 {
    font-size: 30px;
    margin: 5px;
    color: antiquewhite;
}
.content h4 {
    color: wheat;
}
.content p {
    width: 80%;
    margin: 10px auto;
    font-size: 1rem;
    transition: 0.5s;
    opacity: 0;
    color: white;
    text-align: left;
}
.card:hover .content {
    height: 100%;
    width: 100%;
    left: 0;
}
.card:hover p {
    opacity: 1;
    transition-delay: 0.5s;
}
